<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gatcha Cat Facts</title>
</head>
<body>
   <h1>Welcome to Gatcha Cat's Random Fact Machine</h1>
   <button>
       <a href="{{ url_for('create') }}">
           create
       </a>
   </button>
    <video controls width="280">
      <source src="{{ url_for('static', filename=filename) }}" type="video/mp4" />

      Download the
      <a href="{{ url_for('static', filename=filename) }}" download="{{ url_for('static', filename=filename) }}">MP4</a>
      video.
    </video>
    <h2>
        {{ fact }}
    </h2>
    <div>
        <button class="btn btn-primary" onClick="copyToClipboard('{{ fact }}')">Copy</button>
    </div>
</body>
<script>
    function copyToClipboard(fact) {
        navigator.clipboard.writeText(fact)
    }
</script>
</html>